#About-section {
    padding-top: clamp(2.1875rem, 1.75rem + 2.1875vw, 4.375rem);
    padding-bottom: clamp(2.1875rem, 1.75rem + 2.1875vw, 4.375rem);
}

.about-text {
    @include Noah400;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    & span {
        text-transform: uppercase;
        color: $primary-color;
        letter-spacing: 3px;
        font-size: 13px;
    }

    & h1 {
        @include Libre;
        font-size: clamp(2.125rem, 1.2822rem + 1.4315vw, 3rem);
        margin: 10px 0;
    }

    &>p {
        color: $black-secondry;
        margin-bottom: 20px;
        font-size: clamp(0.8125rem, 0.7875rem + 0.125vw, 0.9375rem);
    }
}

.reservation {
    align-items: center;
    gap: 15px;
}

.icon {
    color: $primary-color;

    & i {
        font-size: 25px;
    }
}

.text {
    display: flex;
    flex-flow: column wrap;
    gap: 2px;

    & p {
        color: $primary-color;
        text-transform: uppercase;
        font-size: clamp(0.625rem, 0.6rem + 0.125vw, 0.75rem);
        letter-spacing: 3px;
    }

    & a {
        @include Libre;
        color: $black-primary;
        font-size: clamp(1.125rem, 1.075rem + 0.25vw, 1.375rem);
    }
}

.about-img {
    width: 22%;
    display: grid;
    place-items: end;

    & img {
        width: 100%;
        padding-top: 70px;
    }
}


.about-img1 {
    width: 22%;

    & img {
        width: 100%;
    }
}

.about-wrapper {
    justify-content: space-between;
}

// Media Query

@media only screen and (max-width: 942px) {
    .about-text h1 {
        font-size: clamp(1.75rem, 1.5571rem + 0.9646vw, 2.125rem);
    }
}

@media only screen and (max-width: 648px) {
    .about-wrapper {
        justify-content: unset;
        gap: 20px;

        .about-img {
            width: 45.5%;
        }

        .about-img1 {
            width: 45.5%;
        }
    }

    .about-text {
        width: 100%;
    }
}