
@mixin  Noah400 {
    font-family: 'Noah Regular 400';
}

@mixin  Noah700 {
    font-family: 'Noah Bold 700';
}

@mixin Libre {
    font-family: 'Libre Caslon Display', serif;
    font-weight: 400;
}